
 <button (click)="TemplateDrivenForm()">Click me</button> 
<!-- <form #myForm="ngForm" (ngSubmit)="submitForm($event)">
  
  

<mat-form-field>
  <input matInput placeholder="Input" [(ngModel)]="formData.name" name="name" required>
</mat-form-field>

<br>

  <mat-form-field>
    <input matInput placeholder="Email" [(ngModel)]="formData.email" name="email" required>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>Select Designation</mat-label>
    <mat-select [(ngModel)]="formData.designation" name="designation" required>
      <mat-option [value]="">Select Designation</mat-option>
      <mat-option *ngFor="let des of designations" [value]="des.value">
        {{des.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <div [ngClass]="{'mat-form-field-invalid':myForm.submitted && !formData.gender}">
    <mat-radio-group [(ngModel)]="formData.gender" name="gender" required>
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>
  </div>

  <br>

  <div class="form-group col-sm-4">
    <label for="">Phone</label>
    <input type="text" class="form-control" name="phone" [(ngModel)]="formData.phone" [class.is-invalid]="phonengModel.errors?.phoneNumberInvalid && (phonengModel.touched || phonengModel.dirty)" #phonengModel="ngModel" appPhoneNumberValidator>    <!-- Added directive to validate phone -->
    <!-- <span class="invalid-feedback" *ngIf="(phonengModel.touched || phonengModel.dirty) && phonengModel.errors?.phoneNumberInvalid"> <!-- Checked the errors property contains the 'phoneNumberInvalid' property or not which is returned by the validation function -->
       <!-- Phone number must be of 10 digit -->
    <!-- </span>
  </div> -->

  <!-- <div class="submit-button">
    <button mat-flat-button color="primary" type="submit">Submit</button>
  </div> -->

<!-- </form>   -->


 <div class="container text-center">
 <router-outlet></router-outlet> 
</div> 

