<div class="container">    
    <div class="row">    
        <div class="col-md-8 mx-auto">    
            <div class="card">    
                <div class="card-header">    
                    <h3>Angular Template-driven Form</h3>    
                </div>    
                <div class="card-body">    
                    <form class="form" #registerForm="ngForm" [appMatchPassword]="['password', 'confirmPassword']"    
                        (ngSubmit)="registerForm.form.valid && onSubmit()" novalidate>    
                        <div class=" form-group">    
                            <label>Name</label>    
                            <input type="text" class="form-control" [(ngModel)]="userModal.name" name="name"    
                                #name="ngModel" required>    
                            <span class="text-danger"    
                                *ngIf="(name.touched || registerForm.submitted) && name.errors?.required">    
                                Name is required    
                            </span>    
                        </div>    
                        <div class="form-group">    
                            <label>Email</label>    
                            <input type="text" class="form-control" [(ngModel)]="userModal.email" name="email"    
                                #email="ngModel" required email>    
                            <span class="text-danger"    
                                *ngIf="(email.touched || registerForm.submitted) && email.errors?.required">    
                                Email is required    
                            </span>    
                            <span class="text-danger" *ngIf="email.touched && email.errors?.email">    
                                Enter a valid email address    
                            </span>    
                        </div>    
                        <div class="form-group">    
                            <label>User Name</label>    
                            <input type="text" class="form-control" [(ngModel)]="userModal.username" name="username"    
                                #username="ngModel" appValidateUserName required>    
                            <span class="text-danger"    
                                *ngIf="(username.touched || registerForm.submitted) && username.errors?.required">    
                                User Name is required    
                            </span>    
                            <span class="text-danger" *ngIf="username.touched && username.errors?.userNameNotAvailable">    
                                User Name not available    
                            </span>    
                        </div>    
                        <div class="form-group">    
                            <label>Password</label>    
                            <input type="password" class="form-control" [(ngModel)]="userModal.password" name="password"    
                                #password="ngModel" appPasswordPattern required>    
                            <span class="text-danger"    
                                *ngIf="(password.touched || registerForm.submitted) && password.errors?.required">    
                                Password is required    
                            </span>    
                            <span class="text-danger" *ngIf="password.touched && password.errors?.invalidPassword">    
                                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase    
                                letter and 1 number    
                            </span>    
                        </div>    
                        <div class="form-group">    
                            <label>Confirm Password</label>    
                            <input type="password" class="form-control" [(ngModel)]="userModal.confirmPassword"    
                                name="confirmPassword" #confirmPassword="ngModel" required>    
                            <span class="text-danger"    
                                *ngIf="(confirmPassword.touched || registerForm.submitted) && confirmPassword.errors?.required">    
                                Confirm Password is required    
                            </span>    
                            <span class="text-danger"    
                                *ngIf="confirmPassword.touched && confirmPassword.errors?.passwordMismatch">    
                                Passwords doesnot match    
                            </span>    
                        </div>    
                        <div class="form-group">    
                            <button type="submit" class="btn btn-success">Register</button>    
                        </div>    
                    </form>    
                </div>    
            </div>    
        </div>    
    </div>    
</div>    